:root {
  --primary-text-color: #757575;
  --secondary-text-color: #000000;
  --title-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-background-color: #2f303a;
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --modal-button-background-color: #188ce8;
  --paragraph-footer-color: #ffffff99;
  --section-background-teams-color: #f5f4fa;
  --border-hero-color: #ececec;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --hero-background-rgba: rgba(47, 48, 58, 0.4);
  --product-background-rgba: rgba(47, 48, 58, 0.8);
  --modal-background-rgba: rgba(0, 0, 0, 0.2);
  --box-shadow-hero-button: rgba(0, 0, 0, 0.15);
  --box-shadow-teams-item: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-portfolio-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-portfolio-link: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-form-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --primary-font-family: 'Roboto';
  --logo-font-family: 'Raleway';
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------- utilities ---------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family), sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---------------- container ---------------- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

/* ---------------- link  ---------------- */

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* ---------------- list  ---------------- */
.list {
  list-style: none;
}

/* ---------------- button ---------------- */
.button {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;

  font-family: inherit;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  transition: color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  color: var(--accent-color);
}

/* ---------------- visually-hidden ---------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------- header ---------------- */

.header {
  border-bottom: 1px solid var(--border-hero-color);
}

.main-nav,
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: 93px;
  display: flex;
  gap: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;
  transition: color 250ms var(--timing-function);
}

.nav-list .current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts.list {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.header-contacts .link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ---------------- logo ---------------- */
.logo {
  color: var(--secondary-text-color);
  font-family: var(--logo-font-family), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

/* ---------------- nav-list ---------------- */
.nav-list .link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .link.current {
  color: var(--accent-color);
}

/* ---------------- hero ---------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(47, 48, 58, 0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      var(--hero-background-rgba),
      var(--hero-background-rgba)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  min-width: 216px;

  box-shadow: 0px 4px 4px var(--box-shadow-hero-button);
  border-radius: 4px;
  transition: background 250ms var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--white-color);
}

/* ---------------- section ---------------- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section .title {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.14;
}

/* ---------------- feature ---------------- */
.feature {
  display: flex;
}

.feature .section {
  padding-top: 0;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list .title {
  margin-bottom: 10px;
}

.feature-item {
  width: 270px;
}

.feature-item .feature-icon {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  height: 120px;
  border-radius: 4px;
  background: var(--section-background-teams-color);
}

.feature-icon-antenna,
.feature-icon-clock,
.feature-icon-diagram,
.feature-icon-astronaut {
  width: 70px;
  height: 70px;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
}

/* ---------------- examples ---------------- */

.examples {
  padding-top: 0;
}

.examples-list {
  display: flex;
}

.examples-item {
  position: relative;
}

.examples-item:not(:last-child) {
  margin-right: 30px;
}

.examples .section-title {
  margin-bottom: 50px;
}

.examples .product-name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--product-background-rgba);
}

.examples .product-title {
  color: var(--white-color);
  text-transform: uppercase;
}

/* ---------------- teams ---------------- */
.teams {
  background-color: var(--section-background-teams-color);
}

.teams .section-title {
  margin-bottom: 50px;
}

.teams-list {
  display: flex;
  gap: 30px;
}

.teams-item {
  box-shadow: var(--box-shadow-teams-item);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.teams-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teams .title {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.teams .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.teams-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.teams-soc-item {
  width: 44px;
  height: 44px;
}

.teams-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);

  transition: color 250ms var(--timing-function), background 250ms var(--timing-function);
}

.teams-soc-icon {
  fill: currentColor;
}

.teams-soc-link:hover,
.teams-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* ---------------- client ---------------- */

.client-title {
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  width: 100%;
  height: 100%;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* ---------------- footer ---------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 70px;
}

.footer .logo,
.footer .link.address {
  color: var(--white-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer .link {
  color: var(--paragraph-footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer-text {
  margin-bottom: 20px;

  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.1);

  transition: background 250ms var(--timing-function);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-push {
  margin-left: 93px;
}

.footer-title-push {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-form {
  display: flex;
}

.footer-label {
  margin-right: 12px;
}

.footer-input {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}

.footer-input::placeholder,
.footer-input {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.footer-push-btn {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  box-shadow: var(--box-shadow-form-button);
  transition: background-color 250ms var(--timing-function);
}

.push-icon {
  margin-left: 10px;
}

.footer-push-btn:hover,
.footer-push-btn:focus {
  background-color: var(--modal-button-background-color);
  color: var(--white-color);
}

/* ---------------- Modal window ---------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-rgba);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-modal);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: var(--accent-color);
}

.close-icon {
  fill: currentColor;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-label {
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.modal-text {
  display: block;
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.modal-wrapper {
  position: relative;
  width: 100%;
}

.modal-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms var(--timing-function);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}

.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-label:nth-child(4) {
  margin-bottom: 20px;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: transparent;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.7;
  margin-right: 7px;
}

.checkbox-link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color);
}

.modal .send-button {
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 52px;
  box-shadow: var(--box-shadow-form-button);

  transition: background-color 250ms var(--timing-function);
}

.modal .send-button:hover,
.modal .send-button:focus {
  background-color: var(--modal-button-background-color);
  color: var(--white-color);
}

/* ---------------- portfolio.html ---------------- */

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio .button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .button {
  color: var(--title-color);
  background-color: var(--section-background-teams-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;
  transition: background 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.portfolio .button:hover,
.portfolio .button:focus {
  box-shadow: var(--box-shadow-portfolio-button);
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}

.portfolio-link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: var(--box-shadow-portfolio-link);
}

.portfolio-div {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  background-color: var(--overlay-background-color);
}

.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio .overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.portfolio-border {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.portfolio .title {
  margin-bottom: 4px;

  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .paragraph {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
