.examples {
  padding-top: 0;
}

.examples-list {
  display: flex;
}

.examples-item {
  position: relative;
}

.examples-item:not(:last-child) {
  margin-right: 30px;
}

.examples .section-title {
  margin-bottom: 50px;
}

.examples .product-name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--product-background-rgba);
}

.examples .product-title {
  color: var(--white-color);
  text-transform: uppercase;
}
