.feature {
  display: flex;
}

.feature .section {
  padding-top: 0;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list .title {
  margin-bottom: 10px;
}

.feature-item {
  width: 270px;
}

.feature-item .feature-icon {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  height: 120px;
  border-radius: 4px;
  background: var(--section-background-teams-color);
}

.feature-icon-antenna,
.feature-icon-clock,
.feature-icon-diagram,
.feature-icon-astronaut {
  width: 70px;
  height: 70px;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
}
